@page
@model WebApplication1.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Koszyk";
}

<h1>Koszyk</h1>
<br />
<b>
    Wartość: @Model.Sum
</b>
<br />
<br />

@if (!User.Identity.Name.ToLower().Equals("admin"))
{
<h4>
<a asp-page="./Checkout">Złóż zamówienie</a>
</h4>

}
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Data)
            </th>
            @if (User.Identity.Name.ToLower().Equals("admin"))
            {
                <th>
                    Nazwa użytkownika
                </th>

            }

            <th>
                Nazwa produktu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ProductCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                @if (User.Identity.Name.ToLower().Equals("admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>

                }
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>

                    <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
